.fs {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.fs-noTop {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.333333rem;
  bottom: 0;
}
.f-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
